.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.logo-container {
  text-align: center;
}

.splash-logo {
  width: 150px; /* Größe des Logos anpassen */
  height: auto;
  margin-bottom: 20px;
}
